.default-button {
    font-size: 1rem;
    color: #f4f7fe;
    background-color: #645fc6;
    border: 1px solid #645fc6;
    border-radius: 25rem;
    padding: 0.5rem 1rem;
}

.default-button:hover {
    cursor: pointer;
    border: 1px solid #f4f7fe;
}
