.signup-container {
    width: 500px;
    background-color: #2c2c38;
    border: 1px solid #3f3f4b;
    padding: 1rem;
    margin: 1rem;
}

.signup-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signup-container input {
    width: 400px;
}
